.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 40%;
    background: $background-modal;
    padding: 15px;
    border-radius: 15px;
}

.video {
    width: 100%;
    height: 100%;
}

.videoContainer {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.lowerThird {
    position: absolute;
    width: 40%;
    top: 60%;

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.modal {
    height: fit-content;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $purple;

    > * {
        margin: 10px;
    }
}

