.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 40%;
    background: $background-modal;
    padding: 15px;
    border-radius: 15px;
}

.video {
    width: 100%;
    height: 56.25%;
}

.timestamps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video {
    
}