.overlay {
    margin: 50px;
}

.toolbar {
    bottom: 24px;
    left: 0;
    width: 100%;
}

.header {
    color: $text-grey;
    margin: 20px;
    text-transform: uppercase;
}

.vidinput {
    width: 100%;
}

.progressBar {
    position: fixed;
    width: 100vw;
    height: 0;
    left: 0;
    top: 50px;
    transition: height 0.8s;
    opacity: 0;
    &.active {
        height: 50px;
        opacity: 1;
    }
}