.overlay {
    margin: 50px;
}

.uploadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: turquoise;
    color: black;
}

.toolbar {
    bottom: 24px;
    left: 0;
    width: 100%;
}

.header {
    color: #C4C4C4;
    margin: 20px;
}