.container {
    position: relative;
}

.overlay {
    margin: 50px;
}

.toolbar {
    bottom: 24px;
    left: 0;
    width: 100%;
}

.header {
    color: $text-grey;
    margin: 20px;
}

.vidinput {
    width: 100%;
}

.progressBar {
    width: 100vw;
    height: 0;
    transition: height 0.8s;
    opacity: 0;
    &.active {
        height: 50px;
        opacity: 1;
    }
}

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70vw;
    max-width: 300px;
    height: 50vh;
    pointer-events: none;

}

.arrow {
    position: fixed;
    bottom: 80px;
    left: 80px;
    width: 65px;
    height: 65px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $grey;
}

.customToggle {
    margin-left: 10px;
}

.icon {
    position: fixed;
    top: 10px;
    right: 10px;
    color: $purple;
    font-size: 27px !important;
}

.modal {
    height: fit-content;
}