.example {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    width: 100%;
    height: 50px; 
}



.modal {
    input {
        text-align: left;
    }
}