.example {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    width: 100%;
    height: 50px; 
}

.preset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .presetMeta {
        display: flex;
        flex-direction: row;

    }

    .presetName, .fontName {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presetName {
        margin-right: 5px;
    }

    .fontName {
        color: $grey;
    }

    .colorGroup {
        display: flex;
        flex-direction: row;
        .color {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: $grey 1px solid;

            &:first-child {
                margin-right: 5px;
            }
        }
    }
}

.dropdown {

}

.input {
    text-align: left;
}

.textarea {
    box-sizing: border-box;
}

.label {
    margin: 5px 0;
}