.tools {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

   .add {
    @extend .tool;
    background: $pink;
    color: $purple;   
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
   }

   .next {
    @extend .tool;
    background: $pink;
    color: white;
    transition: background 0.2s;

    &.active {
        background: $purple;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }
   }
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;

}

.menu {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    .menuInner {
        border-radius: 15px;
        overflow: hidden;

        .option {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            background: white;
            box-sizing: border-box;
            border-top: 1px solid $border;
    
    
            &:first-child {
                border-top: none;
            }
        }
    }
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid $border;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.field {
    @extend .item;
    background: white;
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr) 1fr 1fr 0.5fr;
    justify-items: center;

    .name {
        overflow: hidden;
    }

    .handle {
        grid-column: 5;
    }
}

.header {
    @extend .field;
    background: none;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
    justify-items: center;
    padding: 5px;
    text-transform: capitalize;

    .name {
        justify-self: left;
    }


}

.column {
    text-transform: capitalize;
}

.swipeAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: $purple;

    .icon {
        color: white;
    }
}

.uploadButton {
    @extend .addButton;
}

.fieldContent {
    @extend .item;
    background: #efefef;
    margin-left: 70px;



    &::after {
        content: '-';
        position: absolute;
        left: 30px;
        font-size: 40px;
    }
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fieldContents {
    background: $pink;
}

.container {
    margin-bottom: 100px;
}