.container {
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.upload {
    background: $pink;
    color: $purple;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.subHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    color: $grey;
}

.imagePreview {
    width: 100%;
}

.asset {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 170px;
    flex-shrink: 0;

    .thumb {
        height: 100%;
    }

    .check {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background: $purple;
        opacity: 0;
        transition: opacity 0.2s;

        &.active {
            opacity: 1;
        }

        .icon {
            color: $white;
        }

    }
}



.styleList {
    display: flex;
    flex-direction: column;
}

.style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: $grey solid 1px;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: $grey solid 1px;
}

.styleGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 125px;
}

.actionLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trash {
    position: fixed;
    top: 10px;
    right: 10px;

    &.active {
        animation: wiggle 1s infinite;
    }
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(10deg);}
  }