.container {
    overflow: visible;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    margin-left: 10px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
}