.container {
    overflow: visible;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.2s;

    &.disabled {
        opacity: 0.2;
    }
}

.left {
    margin-right: 10px;
}

.right {
    color: $grey;

    &::placeholder {
        color: $grey;
    }
}

.delete {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 25px;
}