.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 100%;
    padding: 10px;
}

.meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    flex-grow: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .title,
    .desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .desc {
        .icon {
            width: 40px;
            height: 40px;
        }
    }

}

.thumb {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
}

.icon {
    width: 80px;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.videoDesc {
    display: flex;
    flex-direction: row;
    align-items: center;

    .oldDuration {
        text-decoration: line-through;
    }

    .newDuration {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .chronoIndex {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 25px;
        height: 25px;
        color: white;
        background: $purple;
        border-radius: 50%;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }
}