.asset {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    transition: background 0.2s;
    color: $text;
    height: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

.thumb {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.assetData {
    display: flex;
    flex-direction: column;
    width: calc(100% - 110px);

    .assetTitle,
    .assetType {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}

.selected {
    background: $pink;
}

.assetTitle {
    word-break: break-word;
}

.empty {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    > * {
        text-align: center;

        &:first-child {
            font-weight: bold;
        }
    }

}