.container {
    width: 100%;
}

.title {
    padding: 15px;
    text-transform: uppercase;
    background: $background;
    color: $text-grey;
}

.content {
    width: 100%;
    border-top: #D8D7DA solid 1px;
}

.element {
    background: white;
    border-bottom: #D8D7DA solid 1px;
    padding: 15px;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.2s, opacity 0.2s;

    &.noRender {
        max-height: 0;
        padding: 0;
        border: none;
        opacity: 0;

    }
}
