.container {
    width: 100%;
}

.title {
    padding: 15px;
    text-transform: uppercase;
    background: #F7F8F8;
    color: #C3C3C3;
}

.content {
    width: 100%;
    border-top: #D8D7DA solid 1px;
}

.element {
    background: white;
    border-bottom: #D8D7DA solid 1px;
    padding: 15px;
}