.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 60%;
    padding-top: 20px;
    background: $background-modal;
    border-radius: 20px;
}

.content {
    padding: 0 20px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input {
    width: 100%;

    input {
        text-align: left;
    }
}

.actions {
    width: 100%;
}

.switcherRow {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px 0;
        color: #80848F;
        border: #80848F solid 1px;
        background: $background-modal;
        transition: background 0.2s, color 0.2s;
    
        &.active {
            color: $background-modal;
            background: #80848F;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

.confirmRow {
    display: flex;
    flex-direction: row;
    text-align: center;

    .button {
        width: 100%;
        color: $purple;
        padding: 15px 0;
        &:first-child {
            border-right: solid $grey 1px; 
        }
    }
}

.video {
    width: 100%;
}

.preview {
    position: relative;
}

.previewImg {
    position: absolute;
    top: 0;
    left: 0;
}