.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    padding: 20px 20px 0;
    background: $background-modal;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input {
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    color: $purple;

    &:first-of-type {
        border-right: $grey solid 1px;
    }
}

.actions {
    width: 100%;
}