.container { 
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .left,
    .right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 24px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        font-size: 25px;
        transition: color 0.2s;

        &:hover {
            color: #C04C9F;
        }
    }

    .left {
        background: #F3E3EF;
        color: #CE6CB1;
    }

    .right {
        background: #CE6CB1;
        color: #FFFFFF;
    }
}

.menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 50px;
    left: 0;
    width: max-content;
    height: fit-content;
    border-radius: 2px;
    background: white;
    transition: visibility 0.2s, opacity 0.2s;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}

.action {
    margin: 0 10px;
    color: black;
    transition: color 0.1s;

    &:hover {
        color: #C04C9F;
    }
}