.container { 
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .left,
    .right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 24px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        font-size: 25px;
        transition: color 0.2s;

        &:hover {
            color: $purple;
        }
    }

    .left {
        background: $pink;
        color: $purple;
    }

    .right {
        background: $purple;
        color: $white;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 0;
    left: -25px;
    height: fit-content;
    width: 100vw;
    transition: visibility 0.2s, opacity 0.2s;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    .menuHeader {
        padding: 10px 0;
        text-align: center;
        border-bottom: #D1D1DF solid 1px;
        color: #BCBCBC;
    }

    .menuClose {
        width: calc(100vw - 10px);
        background: #F0F0F0;
        padding: 15px 0;
        color: $text;
        text-align: center;
        border-radius: 15px;
    }
}

.menuInner {
    width: calc(100vw - 10px);
    background: $white;
    border-radius: 15px;
    margin-bottom: 10px;
}

.action {
    position: relative;
    color: $text;
    padding: 15px 0;
    transition: color 0.1s;
    border-bottom: #D1D1DF solid 1px;
    text-align: center;

    &:hover {
        color: #C04C9F;
    }

    &:last-child {
        border-bottom: none;
    }

    .actionIcon {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #CE6CB1;
    }
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000055;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}