.container {
    width: 100%;
    margin-bottom: -30px; //because of scrollbar

    .header {
        color: $text-grey;
        margin: 10px 0;
        text-transform: uppercase;
    }
}

.items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: visible;
    height: fit-content;

    &::-webkit-scrollbar {
        background: transparent;
    }


}

