.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: row;
    width: fit-content;
    overflow: hidden;
}

.header {
    margin: 10px 0;
}