.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    .header {
        color: $text-grey;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: visible;
    height: fit-content;

    &::-webkit-scrollbar {
        background: transparent;
    }


}



