.container {
    position: relative;
    width: 100%;
    overflow-y: hidden;

    .header {
        color: $text-grey;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .spinner {
        color: $purple;
        text-align: center;
        width: 100%;
    }
}

.items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: fit-content;

    &::-webkit-scrollbar {
        display: none;
        visibility: hidden;
    }


}

.left,
.right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 50px;
    background: $purple;
    z-index: 2;
    bottom: 30%;
    color: $white;
}

.left {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
