.container {
    position: relative;
}

.controls {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $purple;
    
    > * {
        background: $pink;
    }
}