.container {
    background: white;
    margin-bottom: $navbar-height;
}

.highlight {
    background: linear-gradient(0deg, rgba(0, 0, 0, 5e-05) 17.77%, rgba(0, 0, 0, 0.35) 74.79%);
    width: 100vw;
    height: 56.25vw;
    margin-bottom: 10px;
}

.carousels {
    padding-left: 10px;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    width: 300px;
    height: 170px;
    margin-right: 10px;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: scale(0.95, 0.95);
        box-shadow: none;
    }

    .thumb {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 5e-05) 17.77%, rgba(0, 0, 0, 0.35) 74.79%);
    }

    .title {
        top: 10px;
        left: 10px;
        position: absolute;
        color: $white;
    }

    .duration {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 20%;
        top: 10px;
        right: 10px;
        position: absolute;
        color: $white;
        border-radius: 20px;
        background: #FFFFFF4D;
    }
}