.options {
    display: flex;
    flex-direction: column;
    border: 1px solid $border;
}

.option {
    background: white;
    border-top: 1px solid $border;

    .name {
        color: $purple;
    }

    .desc {
        
    }

    &:first-child {
        border-top: none;
    }
}