.container {
    color: #C14C9F;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(193, 76, 159, 0.15);
    border: 2px solid rgba(193, 76, 159, 0.093014);
    border-radius: 8px;

    &.active {
        background: #C04C9F;
    }
}

