.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px 0;
    background: #219588;
    color: white;
}

.left {
    justify-self: flex-start;
}

.title {
    justify-self: center;
}

.right {
    justify-self: flex-end;
}