.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: $white;
    color: $text;
    border-bottom: $grey solid 1px;
}

.left {
    justify-content: flex-start;
    padding-left: 10px;
    width: 30%;
}

.title {
    text-align: center;
    font-weight: bold;
    justify-content: center;

}

.right {
    text-align: right;
    justify-content: flex-end;
    padding-right: 10px;
    width: 30%;
}

.left,
.title,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.title {
    width: 100%;
    height: 100%;
}

