.container {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
    height: $navbar-height;
    bottom: 0;
    background: $white;
    padding-top: 5px;
    .route {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        color: $text-grey;
        fill: $text-grey;
        text-decoration: none;
        transition: color 0.2s, border-bottom 0.2s;
        border-bottom: $white solid 3px;
        cursor: pointer;
        &.active {
            color: $purple;
            fill: $purple;
            border-bottom: $purple solid 3px;
        }
    }

}

.options {
    position: fixed;
    bottom: 0;
    width: 100%;


    .optionsGroup {
        margin: 0 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        background: $white;

        .optionsHeader,
        .option {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 50px;
            border-bottom: $grey 1px solid;

            &:last-child {
                border-bottom: none;
            }
        }

        .optionsHeader {
            color: $grey;
        }

        .option {
            color: $text;
        }
    }
}

.routeName {
    font-size: 11px;
    font-weight: bold;
}

.icon {
    margin-bottom: 5px;
}
