.container {
    position: fixed;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    background: $white;
    padding-top: 5px;
    .route {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        color: $text-grey;
        text-decoration: none;
        transition: color 0.2s, border-bottom 0.2s;
        border-bottom: $white solid 3px;
        &.active {
            color: $purple;
            border-bottom: $purple solid 3px;
        }

        .icon {
            margin-bottom: 5px;
        }
    }
}