.row {
    display: flex;
    flex-direction: row;
}

.aligner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;

    .alignerBox {
        position: relative;
        width: 100%;
        height: 100%;
    
        .alignerImg {
            display: block;
            width: 100%;
            height: auto;
        }
    
        .alignerTarget {
            position: absolute;
            background: black;
            width: 5px;
            height: 5px;
        }
    }
}

.spacer {
    width: 10px;
    height: 10px;
}

textarea {
    resize: none;
    width: 100%;
}

.textAligner {
    display: flex;
    flex-direction: row;
    width: 100%;
    .textBox {
        position: relative;
        width: 100%;

        .thumb {
            width: 100%;
        }

        .textBar {
            height: fit-content;
            position: absolute;
            width: 100%;
            background: black;
            color: white;
            text-align: center;
        }

        .textSlider {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.emphasizeFirst {
    font-weight: bold;
}

.chooseType {
    width: 100%;

    .type {
        width: 100%;


        &.highlight {
            background: $pink;
        }
    }

}

.textPreview {
    position: absolute;
    background: black;
    width: 100%;
    text-align: center;

    .textLine {
        color: white;
    }

}

.bold {
    font-weight: bold;
}

.item {
    &.active {
        color: $purple;
    }
}

.lowerThird {
    width: 100%;
    .lowerThirdBox {
        position: relative;
        width: 100%;

        .thumb {
            width: 100%;
        }

        .lowerThirdThumb {
            position: absolute;
            right: 0;
            bottom: 33%;
        }
    }
}