.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider {
    display: flex;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    padding: 0 3px;
    background: #B5B5B5;
    transition: background 0.2s;
    &.active {
        background: #ACD2CD;
    }
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #F7F7F7;
    transition: transform 0.2s;
    &.active {
        transform: translateX(30px);
        background: #219588;
    }
}