.filter {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}



.option {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
        color: $purple;
        height: 100%;
        font-size: 30px;
        margin-right: 15px;

        &.rotate {
            transform: rotate(90deg);
        }
    }

    .optionBody {
        .optionDesc {
            color: $text-grey;
        }
    }
}

.spacedRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 70%;
    border: none;
    text-align: right;
}