.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
}

.logo {
    width: 80%;
    height: 35%;
    background: url('../../../assets/logo-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.input {
    width: 100%;
}
