.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content {
    height: 100%;
    flex-grow: 1;
    background: $background;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom {
    position: absolute;
    bottom: 0;
}


.error {
    position: absolute;
    width: 100vw;
    background: red;
    color: white;
    text-align: center;
}