.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content {
    height: 100%;
    flex-grow: 1;
    padding: 0 48px;
    background: #F7F8F8;
    overflow-y: auto;
}

.bottom {
    position: absolute;
    bottom: 0;
}