.container {
    position: relative;
    width: 100%;
}

.options {
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: opacity 0.2s;
    &.closed {
        opacity: 0;
    }

}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

