.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFEFEF;
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        .remember {
            display: flex;
            flex-direction: row;
        }
    }
}