:global {

    body {
        margin: 0;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior-y: contain;
    }

    html {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        font-family: 'Open Sans';
    }

    input {
        font-family: 'Open Sans';
        font-size: 15px;
        outline: none;
    }

    div {
        font-size: 15px;
    }
}
