:global {

    body {
        margin: 0;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior-x: none;
        overscroll-behavior-y: contain;
    }

    html {
        user-select: none;
        font-family: 'Open Sans';
    }

    input {
        font-family: 'Open Sans';
        font-size: 15px;
        outline: none;
    }
}
