:global {

    body {
        margin: 0;
    }

    html {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    }

    a {
        color: $text-grey;
        text-decoration: none;
    }
}
