.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: hidden;
}

.listToggle {
    display: grid;
    grid-template-columns: 25px auto 25px 25px;

    border: 1px solid $grey;
    padding: 5px;
    background: white;
    transition: opacity 0.2s;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    > * {
        flex: 1;
    }

    .label {
        overflow: hidden;
    }
}

.musicList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid $grey;
    border-top: none;
    flex: 1;
    transition: flex 0.2s;

    &.closed {
        flex: 0;
        border-bottom: none;
    }
}

.song {
    padding: 5px;
    border-bottom: 1px solid $grey;
    background: white;
    transition: background 0.2s;

    &.selected {
        background: $pink;
    }

    &:last-child {
        border-bottom: none;
    }
}

.modeSelector { 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 5px 0;
    flex: 1;
    transition: flex 0.2s;

    &.closed {
        border: none;
        flex: 0;
    }

    .playmode {
        padding: 5px;
        border: 1px solid $grey;
        border-bottom: none;
        background: white;
        transition: background 0.2s;

        &:last-child {
            border-bottom: 1px solid $grey;
        }
    
        &.active {
            background: $pink;
        }
    
        .name {
            color: $purple;
            text-transform: capitalize;
        }
    }
}

.mixSelector {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    flex: 1;
    max-height: fit-content;
    border: 1px solid $grey;
    transition: flex 0.2s, border 0.2s, opacity 0.2s;

    &.closed {
        flex: 0;
        border: none;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .mix {
        flex: 1;
        padding: 5px;
        border-right: 1px solid $grey;
        text-transform: capitalize;
        background: white;
        transition: background 0.2s;

        &:last-child {
            border-right: none;
        }

        &.selected {
            background: $pink;
        }
    }
}

.icon {
    color: $purple;
    align-self: center;
    justify-self: center;

    &.expand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border: 1px solid $grey;
        border-radius: 50%;
    }
}

.label {
    white-space: nowrap; 
    text-overflow: ellipsis;
    padding: 5px;
    flex: 1;
    max-height: fit-content;

    &.active {
        color: $purple; 
    }

    &.hidden {
        flex: 0;
        overflow: hidden;
    }
}