.asset {

}

.header {
    color: $purple;
    font-size: 24px;
}

.asset {
    display: flex;
    flex-direction: row;
}

.thumb {
    width: 160px;
    height: 90px;
}

.assetData {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.invisible {
    visibility: hidden;
}