.option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.3;
    transition: opacity 0.2s;

    &.active {
        opacity: 1;
    }

    .icon {
        margin-right: 5px;
    }
}

.spinner {
    
}

